.item {
  margin-bottom: 30px;
}

.thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: auto;
  position: relative;
  font-weight: 600;
  background-color: var(--neutral);
  color: var(--light);
}

.inner {
  padding: 40% 0;
}
