.section {
  position: absolute;
  top: 4419px;
  left: 0;
  right: 0;
  opacity: 0.5;
  padding: 84px 0;
}

.container {
  max-width: 480px;
  margin: 0 auto;
  padding: 0 31px;
}

.subtitle {
  max-width: 200px;
  height: 15px;
  border-radius: 10px;
  margin-bottom: 25px;
  background-color: rgba(115, 116, 117, 0.8);
}

.titleFirst,
.titleSecond,
.titleThird {
  max-width: 350px;
  height: 40px;
  border-radius: 10px;
  margin: 0 auto 10px;
  background-color: rgba(115, 116, 117, 0.8);
}

.titleFirst {
  max-width: 280px;
}

.titleThird {
  max-width: 120px;
  margin-bottom: 25px;
}

.welcome {
  max-width: 140px;
  height: 20px;
  border-radius: 10px;
  margin-bottom: 33px;
  background-color: rgba(115, 116, 117, 0.8);
}

.paragraph {
  margin-bottom: 44px;
}

.paragraph.last {
  margin-bottom: 100px;
}

.text {
  height: 14px;
  border-radius: 10px;
  margin-bottom: 12px;
  background-color: rgba(115, 116, 117, 0.8);
}

.text:last-child {
  margin-bottom: 0;
}

.list {
  padding: 0 20px;
}

.item {
  height: 14px;
  border-radius: 10px;
  margin-bottom: 29px;
  background-color: rgba(115, 116, 117, 0.8);
}

/* .aside {
} */

/* .features {
  display: flex;
  gap: 30px;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
} */

.feature {
  max-width: 158px;
  height: 133px;
  margin: 0 auto 30px;
  background-color: rgba(115, 116, 117, 0.8);
}

.feature:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 408px) {
  .features {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
  }

  .feature {
    flex-basis: calc(50% - 15px);
    max-width: initial;
    margin: 0;
  }

  .feature:nth-child(odd) {
    transform: translateY(-36px);
  }
}

@media screen and (min-width: 768px) {
  .section {
    padding: 100px 0;
  }

  .container {
    max-width: 768px;
    padding: 0 39px;
    display: flex;
    gap: 30px;
    flex-direction: row-reverse;
  }

  .content {
    flex-basis: 330px;
  }

  .title {
    max-width: 230px;
    height: 33px;
    border-radius: 10px;
    margin: 0 auto 25px 0;
    background-color: rgba(115, 116, 117, 0.8);
  }

  .paragraph.last {
    margin-bottom: 65px;
  }

  .aside {
    display: flex;
    gap: 30px;
    flex-direction: column;
    width: 330px;
    height: 500px;
  }

  .img {
    width: 330px;
    height: 235px;
    border-radius: 10px;
    background-color: rgba(115, 116, 117, 0.8);
  }
}

@media screen and (min-width: 1200px) {
  .section {
    padding: 120px 0;
  }

  .container {
    max-width: 1200px;
    padding: 0 15px;
  }

  .content {
    flex-basis: 570px;
    padding-right: 100px;
  }

  .title {
    max-width: 320px;
    height: 49px;
  }

  .paragraph.last {
    margin-bottom: 29px;
  }

  .aside {
    width: 570px;
    height: 480px;
    flex-direction: row;
  }

  .img {
    width: 270px;
    height: 480px;
  }
}
