.footer {
  position: relative;
  height: 346.97px;
  /* position: absolute;
  top: 7638px;
  left: 0;
  right: 0; */
  opacity: 0.5;
  padding: 44px 0;
}

.back {
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  z-index: -1;
  border-radius: 5px;
  background-color: var(--skeleton-highlight);
}

.container {
  max-width: 480px;
  margin: 0 auto;
  padding: 0 24px;
}

.thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0 133px;
}

.logo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.line {
  position: absolute;
  top: 220px;
  left: 10px;
  right: 10px;
  height: 80px;
  border-radius: 10px;
}

.logo,
.line {
  background: linear-gradient(
    -90deg,
    var(--skeleton-light) 0%,
    var(--skeleton-highlight) 50%,
    var(--skeleton-light) 100%
  );
  background-size: 400% 400%;
  animation: pulse 1.2s ease-in-out infinite;
}

@media screen and (min-width: 320px) {
  .container {
    padding: 0 31px;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    height: 219px;
  }

  .container {
    display: flex;
    justify-content: end;
    max-width: 768px;
    padding: 0 39px;
  }

  .thumb {
    padding: 5px 5px 5px 0;
  }

  .line {
    --radius: 65px;
    --offset-x: calc((100% - 748px) / 2 + 654px);
    --offset-y: 50%;
    top: 70px;
    clip-path: polygon(
      100% 50%,
      100% 100%,
      0 100%,
      0 0,
      100% 0,
      100% 50%,
      calc(var(--offset-x) + var(--radius) * 1)
        calc(var(--offset-y) + var(--radius) * 0),
      calc(var(--offset-x) + var(--radius) * 0.995)
        calc(var(--offset-y) + var(--radius) * -0.1),
      calc(var(--offset-x) + var(--radius) * 0.98)
        calc(var(--offset-y) + var(--radius) * -0.198),
      calc(var(--offset-x) + var(--radius) * 0.956)
        calc(var(--offset-y) + var(--radius) * -0.295),
      calc(var(--offset-x) + var(--radius) * 0.921)
        calc(var(--offset-y) + var(--radius) * -0.388),
      calc(var(--offset-x) + var(--radius) * 0.878)
        calc(var(--offset-y) + var(--radius) * -0.478),
      calc(var(--offset-x) + var(--radius) * 0.826)
        calc(var(--offset-y) + var(--radius) * -0.563),
      calc(var(--offset-x) + var(--radius) * 0.766)
        calc(var(--offset-y) + var(--radius) * -0.643),
      calc(var(--offset-x) + var(--radius) * 0.698)
        calc(var(--offset-y) + var(--radius) * -0.716),
      calc(var(--offset-x) + var(--radius) * 0.623)
        calc(var(--offset-y) + var(--radius) * -0.782),
      calc(var(--offset-x) + var(--radius) * 0.543)
        calc(var(--offset-y) + var(--radius) * -0.84),
      calc(var(--offset-x) + var(--radius) * 0.456)
        calc(var(--offset-y) + var(--radius) * -0.89),
      calc(var(--offset-x) + var(--radius) * 0.365)
        calc(var(--offset-y) + var(--radius) * -0.931),
      calc(var(--offset-x) + var(--radius) * 0.271)
        calc(var(--offset-y) + var(--radius) * -0.963),
      calc(var(--offset-x) + var(--radius) * 0.174)
        calc(var(--offset-y) + var(--radius) * -0.985),
      calc(var(--offset-x) + var(--radius) * 0.075)
        calc(var(--offset-y) + var(--radius) * -0.997),
      calc(var(--offset-x) + var(--radius) * -0.025)
        calc(var(--offset-y) + var(--radius) * -1),
      calc(var(--offset-x) + var(--radius) * -0.124)
        calc(var(--offset-y) + var(--radius) * -0.992),
      calc(var(--offset-x) + var(--radius) * -0.223)
        calc(var(--offset-y) + var(--radius) * -0.975),
      calc(var(--offset-x) + var(--radius) * -0.318)
        calc(var(--offset-y) + var(--radius) * -0.948),
      calc(var(--offset-x) + var(--radius) * -0.411)
        calc(var(--offset-y) + var(--radius) * -0.912),
      calc(var(--offset-x) + var(--radius) * -0.5)
        calc(var(--offset-y) + var(--radius) * -0.866),
      calc(var(--offset-x) + var(--radius) * -0.584)
        calc(var(--offset-y) + var(--radius) * -0.812),
      calc(var(--offset-x) + var(--radius) * -0.662)
        calc(var(--offset-y) + var(--radius) * -0.75),
      calc(var(--offset-x) + var(--radius) * -0.733)
        calc(var(--offset-y) + var(--radius) * -0.68),
      calc(var(--offset-x) + var(--radius) * -0.797)
        calc(var(--offset-y) + var(--radius) * -0.604),
      calc(var(--offset-x) + var(--radius) * -0.853)
        calc(var(--offset-y) + var(--radius) * -0.521),
      calc(var(--offset-x) + var(--radius) * -0.901)
        calc(var(--offset-y) + var(--radius) * -0.434),
      calc(var(--offset-x) + var(--radius) * -0.94)
        calc(var(--offset-y) + var(--radius) * -0.342),
      calc(var(--offset-x) + var(--radius) * -0.969)
        calc(var(--offset-y) + var(--radius) * -0.247),
      calc(var(--offset-x) + var(--radius) * -0.989)
        calc(var(--offset-y) + var(--radius) * -0.149),
      calc(var(--offset-x) + var(--radius) * -0.999)
        calc(var(--offset-y) + var(--radius) * -0.05),
      calc(var(--offset-x) + var(--radius) * -0.999)
        calc(var(--offset-y) + var(--radius) * 0.05),
      calc(var(--offset-x) + var(--radius) * -0.989)
        calc(var(--offset-y) + var(--radius) * 0.149),
      calc(var(--offset-x) + var(--radius) * -0.969)
        calc(var(--offset-y) + var(--radius) * 0.247),
      calc(var(--offset-x) + var(--radius) * -0.94)
        calc(var(--offset-y) + var(--radius) * 0.342),
      calc(var(--offset-x) + var(--radius) * -0.901)
        calc(var(--offset-y) + var(--radius) * 0.434),
      calc(var(--offset-x) + var(--radius) * -0.853)
        calc(var(--offset-y) + var(--radius) * 0.521),
      calc(var(--offset-x) + var(--radius) * -0.797)
        calc(var(--offset-y) + var(--radius) * 0.604),
      calc(var(--offset-x) + var(--radius) * -0.733)
        calc(var(--offset-y) + var(--radius) * 0.68),
      calc(var(--offset-x) + var(--radius) * -0.662)
        calc(var(--offset-y) + var(--radius) * 0.75),
      calc(var(--offset-x) + var(--radius) * -0.584)
        calc(var(--offset-y) + var(--radius) * 0.812),
      calc(var(--offset-x) + var(--radius) * -0.5)
        calc(var(--offset-y) + var(--radius) * 0.866),
      calc(var(--offset-x) + var(--radius) * -0.411)
        calc(var(--offset-y) + var(--radius) * 0.912),
      calc(var(--offset-x) + var(--radius) * -0.318)
        calc(var(--offset-y) + var(--radius) * 0.948),
      calc(var(--offset-x) + var(--radius) * -0.223)
        calc(var(--offset-y) + var(--radius) * 0.975),
      calc(var(--offset-x) + var(--radius) * -0.124)
        calc(var(--offset-y) + var(--radius) * 0.992),
      calc(var(--offset-x) + var(--radius) * -0.025)
        calc(var(--offset-y) + var(--radius) * 1),
      calc(var(--offset-x) + var(--radius) * 0.075)
        calc(var(--offset-y) + var(--radius) * 0.997),
      calc(var(--offset-x) + var(--radius) * 0.174)
        calc(var(--offset-y) + var(--radius) * 0.985),
      calc(var(--offset-x) + var(--radius) * 0.271)
        calc(var(--offset-y) + var(--radius) * 0.963),
      calc(var(--offset-x) + var(--radius) * 0.365)
        calc(var(--offset-y) + var(--radius) * 0.931),
      calc(var(--offset-x) + var(--radius) * 0.456)
        calc(var(--offset-y) + var(--radius) * 0.89),
      calc(var(--offset-x) + var(--radius) * 0.543)
        calc(var(--offset-y) + var(--radius) * 0.84),
      calc(var(--offset-x) + var(--radius) * 0.623)
        calc(var(--offset-y) + var(--radius) * 0.782),
      calc(var(--offset-x) + var(--radius) * 0.698)
        calc(var(--offset-y) + var(--radius) * 0.716),
      calc(var(--offset-x) + var(--radius) * 0.766)
        calc(var(--offset-y) + var(--radius) * 0.643),
      calc(var(--offset-x) + var(--radius) * 0.826)
        calc(var(--offset-y) + var(--radius) * 0.563),
      calc(var(--offset-x) + var(--radius) * 0.878)
        calc(var(--offset-y) + var(--radius) * 0.478),
      calc(var(--offset-x) + var(--radius) * 0.921)
        calc(var(--offset-y) + var(--radius) * 0.388),
      calc(var(--offset-x) + var(--radius) * 0.956)
        calc(var(--offset-y) + var(--radius) * 0.295),
      calc(var(--offset-x) + var(--radius) * 0.98)
        calc(var(--offset-y) + var(--radius) * 0.198),
      calc(var(--offset-x) + var(--radius) * 0.995)
        calc(var(--offset-y) + var(--radius) * 0.1),
      calc(var(--offset-x) + var(--radius) * 1)
        calc(var(--offset-y) + var(--radius) * 0)
    );
  }
}

@media screen and (min-width: 1200px) {
  /* .footer {
    top: 6102px;
  } */

  .container {
    max-width: 1200px;
    padding: 0 15px;
  }

  .line {
    --offset-x: calc((100% - 1180px) / 2 + 1110px);
  }
}

@keyframes pulse {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: -135% 0%;
  }
}
