.list {
  margin-bottom: 44px;
  padding: 20px;
  font-weight: 400;
  background-image: linear-gradient(
    180deg,
    #101010 0%,
    rgba(32, 32, 32, 0.2) 100%
  );
}

@media screen and (min-width: 480px) {
  .list {
    padding: 20px 20px 20px 40px;
  }
}

.item {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  gap: 4px;
  padding: 10px 0;
  font-size: 14px;
  font-weight: 700;
  font-style: italic;
  line-height: 1.43;
  word-break: break-all;
  color: var(--neutral);
}

.item::after {
  content: "";
  height: 1px;
  flex-grow: 1;
  background-color: currentColor;
}

.service {
  display: flex;
  align-items: center;
  gap: 4px;
  word-break: normal;
}

.service::before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  background-color: currentColor;
  transform: skewX(-15deg);
}

.price {
  order: 1;
}
