/* .container {
  height: 100vh;
  background-color: var(--dark);
} */

/* .imageSlider {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 80vh;
} */

/* .image {
  position: absolute;
  width: 330px;
  border-radius: 12px;
} */

.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  height: 20vh;
}

.next {
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  color: var(--light);
  background-color: var(--accent);
}

/* ------------------ */

.container {
  height: 100vh;
  background-color: var(--dark);
  overflow: hidden;
}

.imageSlider {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 80vh;
}

.card {
  position: absolute;
  overflow: hidden;
  min-width: 270px;
  border-radius: 12px;
  background-color: rgb(148 163 184);
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  display: block;
  max-width: 100%;
  height: auto;
}

@media screen and (min-width: 768px) {
  .card {
    min-width: 330px;
  }
}

@media screen and (min-width: 1200px) {
  .card {
    min-width: 418px;
  }
}
