.imageSlider {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--dark);
  height: 100vh;
}

.image {
  border-radius: 12px;
}

.next {
  margin-top: 600px;
  border-radius: 8px;
  padding: 4px 16px;
  color: var(--light);
  background-color: var(--accent);
}
