.content {
  margin-bottom: 50px;
}

.aside {
  display: flex;
  gap: 30px;
  flex-direction: column;
  overflow: hidden;
}

.list {
  padding: 20px;
}

.item {
  display: flex;
  align-items: baseline;
  gap: 4px;
  padding: 10px 0;
  font-size: 14px;
  font-weight: 600;
  font-style: italic;
  line-height: 1.618;
  color: var(--neutral);
}

.item::before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  background-color: currentColor;
  transform: skewX(-15deg);
}

.item:first-child {
  padding-top: 0;
}

.item:last-child {
  padding-bottom: 0;
}

.bigImage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 360px;
  border-radius: 30px;
  background-color: var(--highlight);
  pointer-events: none;
  user-select: none;
}

.wrapFrames {
  padding: 30px 0;
  overflow: hidden;
}

.frames {
  position: relative;
  display: flex;
}

.frames::before,
.frames::after {
  content: "";
  position: absolute;
  top: -30px;
  width: 100%;
  height: 30px;
  background-image: linear-gradient(45deg, #ccc 25%, transparent 25%),
    linear-gradient(0deg, #ccc 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #ccc 75%),
    linear-gradient(0deg, transparent 75%, #ccc 75%);
  background-size: 20px 20px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
}

.frames::after {
  top: initial;
  bottom: -30px;
}

.frame {
  padding: 10px 15px;
  background-color: #aaa;
  opacity: 0.8;
}

.thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  flex-basis: 200px;
  height: 150px;
  border-radius: 10px;
  background-color: var(--highlight);
  pointer-events: none;
  user-select: none;
}

@media screen and (min-width: 768px) {
  .content {
    flex-basis: 330px;
    margin-bottom: 0;
  }

  /* .aside {
    display: flex;
    gap: 30px;
    flex-direction: column;
  } */

  .bigImage {
    width: 330px;
    height: 500px;
  }
}

@media screen and (min-width: 1200px) {
  .content {
    flex-basis: 570px;
    padding-right: 100px;
  }

  .aside {
    width: 570px;
  }

  .bigImage {
    width: 570px;
    height: 480px;
  }
}
