.aside {
  display: none;
  overflow: hidden;
}

.list {
  padding: 20px;
}

.item {
  display: flex;
  align-items: baseline;
  gap: 4px;
  padding: 10px 0;
  font-size: 14px;
  font-weight: 600;
  font-style: italic;
  line-height: 1.618;
  color: var(--neutral);
}

.item::before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  background-color: currentColor;
  transform: skewX(-15deg);
}

.item:first-child {
  padding-top: 0;
}

.item:last-child {
  padding-bottom: 0;
}

@media screen and (min-width: 768px) {
  .content {
    flex-basis: 330px;
  }

  .aside {
    display: initial;
    width: 330px;
    height: 500px;
  }
}

@media screen and (min-width: 1200px) {
  .content {
    flex-basis: 570px;
    padding-right: 100px;
  }

  .aside {
    width: 570px;
    height: 480px;
  }
}
