.section {
  position: relative;
  /* position: absolute;
  top: 3689px;
  left: 0;
  right: 0; */
  opacity: 0.5;
  padding: 84px 0;
}

.back {
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 5px;
  background-color: var(--skeleton-highlight);
}

.container {
  position: relative;
  z-index: 1;
  max-width: 480px;
  margin: 0 auto;
  padding: 0 31px;
}

.subtitle {
  max-width: 330px;
  height: 14.993px;
  border-radius: 14px;
  margin-bottom: 20px;
}

.list {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 440px;
  overflow: hidden;
}

.item {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  transform: translateX(-50%) translateY(-50%);
  min-width: calc(100vw - 62px);
  height: calc((100vw - 62px) * 360 / 270);
  border-radius: 12px;
}

.item:nth-child(-n + 3),
.item:nth-child(n + 5) {
  display: none;
}

.controls {
  position: relative;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  height: 86px;
  overflow: hidden;
}

.button {
  min-width: 100px;
  max-width: 60px;
  height: 46px;
  border-radius: 40px;
}

.button:nth-child(-n + 2),
.button:nth-child(n + 5) {
  display: none;
}

.subtitle,
.item,
.button {
  background: linear-gradient(
    -90deg,
    var(--skeleton-light) 0%,
    var(--skeleton-highlight) 50%,
    var(--skeleton-light) 100%
  );
  background-size: 400% 400%;
  animation: pulse 1.2s ease-in-out infinite;
}

@media screen and (min-width: 332px) {
  .item {
    min-width: 270px;
    height: 360px;
  }
}

@media screen and (min-width: 394px) {
  .item:nth-child(3),
  .item:nth-child(5) {
    display: initial;
    z-index: 2;
    transform: scale(0.8) translateX(-94%) translateY(-62%);
  }

  .item:nth-child(5) {
    transform: scale(0.8) translateX(-31%) translateY(-62%);
  }
}

@media screen and (min-width: 461px) {
  .item:nth-child(3) {
    transform: scale(0.8) translateX(-112%) translateY(-62%);
  }

  .item:nth-child(5) {
    transform: scale(0.8) translateX(-13%) translateY(-62%);
  }
}

@media screen and (min-width: 591px) {
  .button:nth-child(2),
  .button:nth-child(5) {
    display: initial;
  }
}

@media screen and (min-width: 768px) {
  .section {
    /* top: 3427px; */
    padding: 100px 0;
  }

  .container {
    max-width: 768px;
    padding: 0 39px;
  }

  .subtitle {
    max-width: 400px;
  }

  .item {
    min-width: 330px;
  }

  .item:nth-child(3),
  .item:nth-child(5) {
    z-index: 2;
    transform: scale(0.8) translateX(-124%) translateY(-62%);
  }

  .item:nth-child(5) {
    transform: scale(0.8) translateX(0) translateY(-62%);
  }

  .item:nth-child(2),
  .item:nth-child(6) {
    display: initial;
    z-index: 1;
    transform: scale(0.5) translateX(-269%) translateY(-100%);
  }

  .item:nth-child(6) {
    transform: scale(0.5) translateX(69%) translateY(-100%);
  }

  .button:nth-child(1),
  .button:nth-child(6) {
    display: initial;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    /* top: 3164px; */
    padding: 120px 0;
  }

  .container {
    max-width: 1200px;
    padding: 0 15px;
  }

  .item {
    min-width: 418px;
  }

  .item:nth-child(3),
  .item:nth-child(5) {
    z-index: 2;
    transform: scale(0.8) translateX(-156%) translateY(-62%);
  }

  .item:nth-child(5) {
    transform: scale(0.8) translateX(31%) translateY(-62%);
  }

  .item:nth-child(2),
  .item:nth-child(6) {
    display: initial;
    z-index: 1;
    transform: scale(0.5) translateX(-330%) translateY(-100%);
  }

  .item:nth-child(6) {
    transform: scale(0.5) translateX(130%) translateY(-100%);
  }
}

@media screen and (min-width: 1400px) {
  .item:nth-child(2),
  .item:nth-child(6) {
    display: initial;
    z-index: 1;
    transform: scale(0.5) translateX(-350%) translateY(-100%);
  }

  .item:nth-child(6) {
    transform: scale(0.5) translateX(150%) translateY(-100%);
  }

  .item:nth-child(1),
  .item:nth-child(7) {
    display: initial;
    z-index: 1;
    transform: scale(0.3) translateX(-667%) translateY(-167%);
  }

  .item:nth-child(7) {
    transform: scale(0.3) translateX(333%) translateY(-167%);
  }
}

@keyframes pulse {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: -135% 0%;
  }
}
