.section {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0.5;
}

.container {
  max-width: 480px;
  margin: 0 auto;
}

.content {
  position: relative;
  height: 580px;
  padding: 130px 69px 10px 20px;
}

.back {
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  z-index: -1;
  border-radius: 5px;
  background-color: var(--skeleton-highlight);
}

.subtitle {
  max-width: 310px;
  height: 15px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.title {
  max-width: 380px;
  height: 44px;
  border-radius: 10px;
  margin-bottom: 31px;
}

.title:nth-child(3) {
  max-width: 300px;
  margin-bottom: 24px;
}

.paragraph {
  margin-bottom: 25px;
}

.text {
  height: 14px;
  border-radius: 10px;
  margin-bottom: 12px;
}

.reference {
  max-width: 150px;
  height: 40px;
  border-radius: 20px;
  margin: 0 auto 30px;
}

.footer {
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 10px;
  height: 80px;
  border-radius: 10px;
}

.aside {
  display: none;
}

.subtitle,
.title,
.text,
.reference,
.footer {
  background: linear-gradient(
    -90deg,
    var(--skeleton-light) 0%,
    var(--skeleton-highlight) 50%,
    var(--skeleton-light) 100%
  );
  background-size: 400% 400%;
  animation: pulse 1.2s ease-in-out infinite;
}

.innerAside {
  background: linear-gradient(
    -90deg,
    var(--skeleton-highlight) 0%,
    var(--skeleton-light) 50%,
    var(--skeleton-highlight) 100%
  );
  background-size: 400% 400%;
  animation: pulse 1.2s ease-in-out infinite;
}

@media screen and (min-width: 768px) {
  .container {
    display: flex;
    gap: 30px;
    flex-direction: row-reverse;
    max-width: 768px;
    padding: 0 39px;
  }

  .content {
    flex-grow: 1;
    height: 680px;
  }

  .innerContent {
    border-radius: 10px;
    padding: 149px 57px 180px 64px;
  }

  .title {
    margin-bottom: 24px;
  }

  .title:nth-child(3) {
    margin-bottom: 40px;
  }

  .text {
    height: 18px;
  }

  .text:last-child {
    max-width: 300px;
  }

  .reference {
    max-width: 150px;
    height: 40px;
    border-radius: 20px;
    margin: 0 auto 30px 0;
  }

  .aside {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 10px;
    width: 90px;
    height: 680px;
  }

  .innerAside {
    width: 16px;
    height: 300px;
    border-radius: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding: 0 15px;
  }

  .innerContent {
    padding: 147px 57px 148px 95px;
  }

  .title {
    max-width: 780px;
    height: 55px;
    margin-bottom: 32px;
  }

  .title:nth-child(3) {
    max-width: 380px;
    margin-bottom: 45px;
  }

  .text {
    max-width: 480px;
  }

  .text:last-child {
    max-width: 250px;
  }

  .aside {
    width: 100px;
  }
}

@keyframes pulse {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: -135% 0%;
  }
}
