.section {
  /* position: absolute;
  top: 0;
  left: 0;
  right: 0; */
  opacity: 0.5;
  background-color: rgba(240, 240, 240, 0.8);
}

.container {
  max-width: 480px;
  margin: 0 auto;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 580px;
  padding: 5px;
}

.innerContent {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  padding: 126px 67px 0 19px;
  background-color: rgba(115, 116, 117, 0.8);
}

.subtitle {
  max-width: 310px;
  height: 15px;
  border-radius: 10px;
  margin-bottom: 30px;
  background-color: rgba(240, 240, 240, 0.8);
}

.titleFirst,
.titleSecond {
  max-width: 300px;
  height: 44px;
  border-radius: 10px;
  margin-bottom: 22px;
  background-color: rgba(240, 240, 240, 0.8);
}

.titleSecond {
  max-width: 380px;
  margin-bottom: 32px;
}

.paragraph {
  margin-bottom: 25px;
}

.text {
  height: 14px;
  border-radius: 10px;
  margin-bottom: 12px;
  background-color: rgba(240, 240, 240, 0.8);
}

.reference {
  max-width: 150px;
  height: 40px;
  border-radius: 20px;
  margin: 0 auto 30px;
  background-color: rgba(240, 240, 240, 0.8);
}

.footer {
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 10px;
  height: 80px;
  border-radius: 10px;
  background-color: rgba(240, 240, 240, 0.8);
}

.aside {
  display: none;
}

@media screen and (min-width: 768px) {
  .container {
    display: flex;
    gap: 30px;
    flex-direction: row-reverse;
    max-width: 768px;
    padding: 0 39px;
  }

  .content {
    flex-grow: 1;
    height: 680px;
  }

  .innerContent {
    border-radius: 10px;
    padding: 149px 57px 180px 64px;
  }

  .titleFirst {
    margin-bottom: 24px;
  }

  .titleSecond {
    margin-bottom: 40px;
  }

  .text {
    height: 18px;
  }

  .text:last-child {
    max-width: 300px;
  }

  .reference {
    max-width: 150px;
    height: 40px;
    border-radius: 20px;
    margin: 0 auto 30px 0;
  }

  .aside {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 10px;
    width: 90px;
    height: 680px;
  }

  .innerAside {
    width: 16px;
    height: 300px;
    border-radius: 10px;
    background-color: rgba(115, 116, 117, 0.8);
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding: 0 15px;
  }

  .innerContent {
    padding: 147px 57px 148px 95px;
  }

  .titleFirst,
  .titleSecond {
    max-width: 780px;
    height: 55px;
    margin-bottom: 32px;
  }

  .titleSecond {
    max-width: 380px;
    margin-bottom: 45px;
  }

  .text {
    max-width: 480px;
  }

  .text:last-child {
    max-width: 250px;
  }

  .aside {
    width: 100px;
  }
}
