.openMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: none;
  margin: 0;
  padding: 0 0;
  background-color: transparent;
  color: var(--light);
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .openMenu {
    display: none;
  }
}

.closeMenu {
  position: absolute;
  top: 31px;
  right: 20px;
  padding: 0;
  color: var(--neutral);
}
