.section {
  position: relative;
  opacity: 0.5;
  padding: 84px 0;
}

.back {
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  z-index: -1;
  border-radius: 5px;
  background-color: var(--skeleton-highlight);
}

.container {
  max-width: 480px;
  margin: 0 auto;
  padding: 0 24px;
}

.subtitle {
  max-width: 400px;
  height: 14.993px;
  border-radius: 14px;
  margin-bottom: 34.993px;
}

.title {
  max-width: 220px;
  height: 46.64px;
  border-radius: 46px;
  margin: 0 auto 44px;
}

.outerList {
  padding: 20px;
  margin-bottom: 43.91px;
}

.innerList:first-child {
  padding-bottom: 10px;
}

.innerList:last-child {
  padding-top: 10px;
}

.item {
  height: 19.992px;
  border-radius: 19px;
  margin-bottom: 20px;
}

.item:last-child {
  margin-bottom: 0;
}

.button {
  max-width: 160px;
  height: 40px;
  border-radius: 20px;
  margin: 0 auto;
}

.subtitle,
.title,
.item,
.button {
  background: linear-gradient(
    -90deg,
    var(--skeleton-light) 0%,
    var(--skeleton-highlight) 50%,
    var(--skeleton-light) 100%
  );
  background-size: 400% 400%;
  animation: pulse 1.2s ease-in-out infinite;
}

@media screen and (min-width: 271px) {
  .outerList {
    margin-bottom: 23.93px;
  }
}

@media screen and (min-width: 276px) {
  .outerList {
    margin-bottom: 43.93px;
  }

  .innerList:first-child .item:first-child {
    display: none;
  }
}

@media screen and (min-width: 277px) {
  .outerList {
    margin-bottom: 23.95px;
  }
}

@media screen and (min-width: 290px) {
  .outerList {
    margin-bottom: 43.94px;
  }

  .innerList:last-child .item:first-child {
    display: none;
  }
}

@media screen and (min-width: 291px) {
  .outerList {
    margin-bottom: 43.96px;
  }

  .innerList:first-child .item:nth-child(2) {
    display: none;
  }
}

@media screen and (min-width: 300px) {
  .outerList {
    margin-bottom: 43.94px;
  }

  .innerList:first-child .item:nth-child(2) {
    display: block;
  }
}

@media screen and (min-width: 307px) {
  .outerList {
    margin-bottom: 23.96px;
  }
}

@media screen and (min-width: 320px) {
  .container {
    padding: 0 31px;
  }

  .outerList {
    margin-bottom: 43.94px;
  }
}

@media screen and (min-width: 321px) {
  .outerList {
    margin-bottom: 23.96px;
  }
}

@media screen and (min-width: 338px) {
  .outerList {
    margin-bottom: 43.96px;
  }

  .innerList:first-child .item:nth-child(2) {
    display: none;
  }
}

@media screen and (min-width: 339px) {
  .outerList {
    margin-bottom: 23.98px;
  }
}

@media screen and (min-width: 414px) {
  .subtitle {
    margin-bottom: 20px;
  }

  .outerList {
    margin-bottom: 23.97px;
  }
}

@media screen and (min-width: 453px) {
  .innerList:last-child .item:nth-child(2) {
    display: none;
  }

  .outerList {
    margin-bottom: 43.98px;
  }
}

@media screen and (min-width: 459px) {
  .outerList {
    margin-bottom: 23.99px;
  }
}

@media screen and (min-width: 460px) {
  .outerList {
    margin-bottom: 43.99px;
  }

  .innerList:first-child .item:nth-child(3) {
    display: none;
  }
}

@media screen and (min-width: 480px) {
  .outerList {
    padding: 30px 20px 30px 40px;
  }
}

@media screen and (min-width: 768px) {
  .section {
    padding: 100px 0;
  }

  .container {
    max-width: 768px;
    padding: 0 39px;
  }

  .title {
    height: 48.972px;
    margin: 0 auto 44px 0;
  }

  .outerList {
    padding: 32px 27px 32px 40px;
    margin-bottom: 44px;
  }

  .item {
    height: 29.998px;
    border-radius: 29px;
  }

  .innerList:last-child .item:nth-child(3) {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    padding: 120px 0;
  }

  .container {
    max-width: 1200px;
    padding: 0 15px;
  }

  .outerList {
    display: flex;
    gap: 30px;
    padding: 0;
  }

  .innerList {
    flex-basis: 570px;
  }

  .innerList:first-child,
  .innerList:last-child {
    padding: 30px 22px 30px 20px;
  }
}

@keyframes pulse {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: -135% 0%;
  }
}
