.text {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.625;
}

.banner {
  position: relative;
  z-index: 50;
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .banner {
    font-size: 18px;
    line-height: 1.666;
  }
}

@media screen and (min-width: 1200px) {
  .banner {
    max-width: 490px;
  }
}

.intro {
  font-size: 14px;
  line-height: 1.857;
  margin-bottom: 14px;
}

.intro:nth-child(6) {
  margin-bottom: 27px;
}

.introWelcome {
  font-size: 18px;
  line-height: 1.666;
}

@media screen and (min-width: 1200px) {
  .intro:nth-child(6) {
    margin-bottom: 42px;
  }
}
