.section {
  position: absolute;
  top: 1380px;
  left: 0;
  right: 0;
  opacity: 0.5;
  padding: 84px 0;
  background-color: rgba(20, 20, 20, 0.8);
}

.container {
  max-width: 480px;
  margin: 0 auto;
  padding: 0 31px;
}

.subtitle {
  max-width: 300px;
  height: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
  background-color: rgba(229, 231, 235, 0.8);
}

.title {
  max-width: 400px;
  height: 46px;
  border-radius: 10px;
  margin: 0 auto 44px;
  background-color: rgba(229, 231, 235, 0.8);
}

.outerList {
  padding: 30px 20px 30px 40px;
  margin-bottom: 44px;
}

.innerList:first-child {
  padding-bottom: 10px;
}

.innerList:last-child {
  padding-top: 10px;
}

.item {
  height: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  background-color: rgba(229, 231, 235, 0.8);
}

.item:last-child {
  margin-bottom: 0;
}

.button {
  max-width: 160px;
  height: 40px;
  border-radius: 20px;
  margin: 0 auto;
  background-color: rgba(229, 231, 235, 0.8);
}

@media screen and (min-width: 768px) {
  .section {
    padding: 100px 0;
  }

  .container {
    max-width: 768px;
    padding: 0 39px;
  }

  .subtitle {
    max-width: 400px;
  }

  .title {
    max-width: 420px;
    height: 49px;
    margin: 0 auto 44px 0;
  }

  .outerList {
    padding: 32px 27px 32px 40px;
  }

  .item {
    height: 30px;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: rgba(229, 231, 235, 0.8);
  }

  .item:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    padding: 120px 0;
  }

  .container {
    max-width: 1200px;
    padding: 0 15px;
  }

  .title {
    max-width: 320px;
    height: 49px;
  }
}
