.backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 150;
}

.menuPosition {
  position: fixed;
  inset: 0;
  overflow-y: auto;
  z-index: 151;
}

.menuContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  padding: 16px 16px 16px 48px;
  box-sizing: border-box;
}

.menu {
  position: relative;
  border-radius: 16px;
  padding: 62px 31px;
  background-color: var(--light);
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.12), 0px 4px 40px rgba(0, 0, 0, 0.14),
    0px 4px 40px rgba(0, 0, 0, 0.2);

  width: calc(100vw - 64px - 16px);
}

.icon {
  width: 40px;
  height: 40px;

  fill: currentColor;
}

.list {
  padding-bottom: 64px;
}

.item {
  font-size: 14px;
  line-height: normal;
  font-weight: 600;
  letter-spacing: 1.8px;
}

.link {
  display: inline-block;
  padding: 18px 0;
  text-transform: capitalize;
  word-break: break-all;
  color: var(--neutral);
  /* transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

/* .link:hover,
.link:focus {
  color: var(--accent-highdark);
} */

@media screen and (min-width: 480px) {
  .item {
    font-size: 18px;
  }
}

/* Socnet link styles */

.socnetList {
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  flex-wrap: wrap;
  margin-bottom: 0;
}

.socnetItem {
  font-size: 11px;
  line-height: 1.363;
  font-weight: 600;
  letter-spacing: 0.2em;
  color: var(--neutral);
}

.socnetLink {
  color: var(--neutral);
}

@media screen and (min-width: 480px) {
  .socnetList {
    gap: 24px;
    align-items: flex-start;
  }

  .socnetItem {
    padding-left: 100px;
    font-size: 14px;
    line-height: 1.357;
  }

  .socnetItem:first-child {
    display: flex;
    gap: 40px;
    align-items: center;
    padding-left: 0;
  }

  .socnetItem:first-child:before {
    content: "";
    display: inline-block;
    width: 60px;
    height: 3px;
    border-radius: 1px;
    background-color: currentColor;
    transform: skewX(-30deg);
  }
}
