.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 100%;
  z-index: 100;

  background-color: rgba(25, 28, 38, 0.2);
  opacity: 1;
  visibility: visible;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  /* width: 100vw; */
  width: 71vw;
  height: 100vh;
  padding: 118px 31px;
  background-color: #fff;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.12), 0px 4px 40px rgba(0, 0, 0, 0.14),
    0px 4px 40px rgba(0, 0, 0, 0.2);
  z-index: 999;
  /* transform: translateX(100%); */
  transform: translateX(29vw);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .menu.isOpen {
  width: 71vw;
  transform: translateX(29vw);
} */

.icon {
  width: 40px;
  height: 40px;

  fill: currentColor;
}

.list {
  padding-bottom: 64px;
}

.item {
  padding-bottom: 12px;
  font-size: 14px;
  line-height: normal;
  font-weight: 600;
  letter-spacing: 1.8px;
}

.link {
  text-transform: capitalize;
  word-break: break-all;
  color: #303030;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
link:focus {
  word-break: break-all;
  color: #303030;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .item {
    padding-bottom: 24px;
    font-size: 18px;
  }
}
