.list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.item {
  flex-basis: 100%;
}

@media screen and (min-width: 336px) {
  .item {
    flex-basis: calc((100% - 30px) / 2);
  }
}

.link {
  display: flex;
  justify-content: center;
  border: 1px solid var(--neutral);
  border-radius: 2px;
  color: var(--neutral);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus {
  border: 1px solid var(--accent-dark);
  color: var(--accent-dark);
}

.link.inv {
  position: relative;
  background-color: currentColor;
}

.link.inv::before {
  content: "";
  position: absolute;
  width: 86px;
  height: 65px;
  top: 50%;
  left: 50%;
  background-color: var(--light);
  transform: translate(-50%, -50%);
  z-index: 0;
}

.icon {
  width: 75%;
  height: 90px;
  fill: currentColor;
  z-index: 1;
}

@media screen and (min-width: 171px) {
  .icon {
    width: 90px;
    height: 90px;
  }
}
