.section {
  /* position: absolute;
  top: 580px;
  left: 0;
  right: 0; */
  opacity: 0.5;
  padding: 84px 0;
}

.container {
  max-width: 480px;
  margin: 0 auto;
  padding: 0 31px;
}

.subtitle {
  max-width: 200px;
  height: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.title {
  max-width: 230px;
  height: 33px;
  border-radius: 10px;
  margin: 0 auto 20px;
}

.welcome {
  height: 30px;
  border-radius: 30px;
  margin-bottom: 20px;
}

.paragraph {
  margin-bottom: 16px;
}

.paragraph:nth-child(6) {
  margin-bottom: 33px;
}

.text {
  height: 24px;
  border-radius: 24px;
  margin-bottom: 2px;
}

.text:last-child {
  margin-bottom: 0;
}

.reference {
  max-width: 208px;
  height: 40px;
  border-radius: 20px;
}

.aside {
  display: none;
}

.subtitle,
.title,
.welcome,
.text,
.reference,
.img {
  background: linear-gradient(
    -90deg,
    var(--skeleton-highlight) 0%,
    var(--skeleton-light) 50%,
    var(--skeleton-highlight) 100%
  );
  background-size: 400% 400%;
  animation: pulse 1.2s ease-in-out infinite;
}

@media screen and (min-width: 368px) {
  .paragraph:nth-child(4) .text:nth-last-child(2) {
    margin-bottom: 0;
  }

  .paragraph:nth-child(4) .text:last-child {
    display: none;
  }
}

@media screen and (min-width: 372px) {
  .paragraph:nth-child(6) .text:nth-last-child(2) {
    margin-bottom: 0;
  }

  .paragraph:nth-child(6) .text:last-child {
    display: none;
  }
}

@media screen and (min-width: 383px) {
  .paragraph:nth-child(5) .text:nth-last-child(2) {
    margin-bottom: 0;
  }

  .paragraph:nth-child(5) .text:last-child {
    display: none;
  }
}

@media screen and (min-width: 412px) {
  .text:nth-last-child(2) {
    margin-bottom: 0;
  }

  .text:last-child {
    display: none;
  }
}

@media screen and (min-width: 476px) {
  .paragraph:nth-child(5) .text:nth-last-child(3) {
    margin-bottom: 0;
  }

  .paragraph:nth-child(5) .text:nth-last-child(2) {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .section {
    /* top: 680px; */
    padding: 100px 0;
  }

  .container {
    max-width: 768px;
    padding: 0 39px;
    display: flex;
    gap: 30px;
    flex-direction: row-reverse;
  }

  .content {
    flex-basis: 330px;
  }

  .title {
    max-width: 230px;
    height: 33px;
    border-radius: 10px;
    margin: 0 auto 25px 0;
  }

  .paragraph:nth-child(5) .text:nth-last-child(3) {
    margin-bottom: 12px;
  }

  .paragraph:nth-child(5) .text:nth-last-child(2) {
    display: block;
  }

  .aside {
    display: flex;
    gap: 30px;
    flex-direction: column;
    width: 330px;
    height: 500px;
  }

  .img {
    width: 330px;
    height: 235px;
    border-radius: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    padding: 120px 0;
  }

  .container {
    max-width: 1200px;
    padding: 0 15px;
  }

  .content {
    flex-basis: 570px;
    padding-right: 100px;
  }

  .title {
    max-width: 320px;
    height: 49px;
  }

  .paragraph {
    margin-bottom: 26px;
  }

  .paragraph:nth-child(5) .text:nth-last-child(3) {
    margin-bottom: 0;
  }

  .paragraph:nth-child(5) .text:nth-last-child(2) {
    display: none;
  }

  .paragraph:nth-child(6) {
    margin-bottom: 53px;
  }

  .paragraph:nth-child(6) .text:nth-last-child(3) {
    margin-bottom: 0;
  }

  .paragraph:nth-child(6) .text:nth-last-child(2) {
    display: none;
  }

  .paragraph:nth-child(6) .text:last-child {
    display: none;
  }

  .aside {
    width: 570px;
    height: 480px;
    flex-direction: row;
  }

  .img {
    width: 270px;
    height: 480px;
  }
}

@keyframes pulse {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: -135% 0%;
  }
}
