.list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.item {
  display: none;
  flex-basis: 100%;
}

.item:nth-child(1),
.item:nth-child(2),
.item:nth-child(3),
.item:nth-child(4),
.item:nth-child(5),
.item:nth-child(6) {
  display: initial;
}

@media screen and (min-width: 336px) {
  .item {
    flex-basis: calc((100% - 30px) / 2);
  }

  .item:nth-child(7),
  .item:nth-child(8),
  .item:nth-child(9),
  .item:nth-child(10),
  .item:nth-child(11),
  .item:nth-child(12) {
    display: initial;
  }
}

.link {
  display: flex;
  justify-content: center;
  border: 1px solid currentColor;
  border-radius: 2px;
  color: var(--light);
  background: linear-gradient(
    110deg,
    var(--dark) 0%,
    var(--dark) 20%,
    var(--light) 48%,
    var(--light) 52%,
    var(--dark) 80%,
    var(--dark) 100%
  );
  background-size: 500% 500%;
  background-position: 100% 100%;
  background-repeat: no-repeat;
  overflow: hidden;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  animation: gradientAnimation 16000ms cubic-bezier(0.4, 0, 0.2, 1) 1000ms
    infinite;
}

.link:hover,
.link:focus {
  box-shadow: 0 0px 1px var(--dark), 0 0 2px var(--dark),
    0 0.5px 5px var(--highlight), 0 0 10px var(--dark);
  transform: scale(1.1);
}

.icon {
  width: 80%;
  height: 60%;
  fill: currentColor;
  z-index: 1;
}

@media screen and (min-width: 171px) {
  .icon {
    width: 90px;
    height: 90px;
  }

  .link.inv::before {
    width: 86px;
    height: 65px;
  }
}

@keyframes gradientAnimation {
  0% {
    background-position: 100% 100%;
    color: var(--light);
  }

  40% {
    background-position: 100% 100%;
    color: var(--light);
  }

  50% {
    background-position: 50% 50%;
    color: var(--dark);
  }

  60% {
    background-position: 0% 0%;
    color: var(--light);
  }

  100% {
    background-position: 0% 0%;
    color: var(--light);
  }
}
