.logo {
  padding: 10px 0;
}

.image {
  display: block;
  width: 100px;
  height: 100px;
}

.logo.footer {
  padding: 10px;
  background-color: var(--light);
  border: 5px solid var(--dark);
  border-radius: 50%;
}
