.section {
  /* position: absolute;
  top: 5632px;
  left: 0;
  right: 0; */
  opacity: 0.5;
}

.innerSection {
  position: relative;
  padding: 84px 0;
}

.innerContainer {
  max-width: 480px;
  margin: 0 auto;
  padding: 0 31px;
}

.back {
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  z-index: -1;
  border-radius: 5px;
  background-color: var(--skeleton-highlight);
}

.title {
  max-width: 170px;
  height: 32.648px;
  margin: 0 auto 44px;
  border-radius: 32px;
}

.form {
  display: flex;
  row-gap: 44px;
  column-gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.input,
.textArea {
  flex-basis: 100%;
  border-radius: 31px;
}

.input {
  height: 31px;
}

.textArea {
  height: 83px;
}

.button {
  flex-basis: 90%;
  max-width: 160px;
  height: 40px;
  border-radius: 40px;
}

.list {
  margin-bottom: 44px;
}

.item {
  height: 30.006px;
  margin-bottom: 20px;
  border-radius: 30px;
}

.item:nth-child(even) {
  margin-bottom: 40px;
}

.item:last-child {
  margin-bottom: 0;
}

.subTitle {
  max-width: 190px;
  height: 14.993px;
  margin-bottom: 20px;
  border-radius: 14px;
}

.text {
  max-width: 340px;
  height: 29.998px;
  border-radius: 29px;
  margin-bottom: 29.99px;
}

.title,
.input,
.textArea,
.button,
.item,
.subTitle,
.text {
  background: linear-gradient(
    -90deg,
    var(--skeleton-light) 0%,
    var(--skeleton-highlight) 50%,
    var(--skeleton-light) 100%
  );
  background-size: 400% 400%;
  animation: pulse 1.2s ease-in-out infinite;
}

@media screen and (min-width: 362px) {
  .text {
    margin-bottom: 31px;
  }
}

@media screen and (min-width: 377px) {
  .text {
    margin-bottom: 1px;
  }
}

@media screen and (min-width: 386px) {
  .text {
    margin-bottom: 2px;
  }
}

@media screen and (min-width: 392px) {
  .text {
    margin-bottom: 1px;
  }
}

@media screen and (min-width: 410px) {
  .text {
    margin-bottom: 2px;
  }
}

@media screen and (min-width: 411px) {
  .text {
    margin-bottom: 1px;
  }
}

@media screen and (min-width: 412px) {
  .text {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 412px) {
  .text {
    margin-bottom: 1px;
  }
}

@media screen and (min-width: 417px) {
  .text {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 421px) {
  .text {
    margin-bottom: 1px;
  }
}

@media screen and (min-width: 418px) {
  .text {
    margin-bottom: 2px;
  }
}

@media screen and (min-width: 480px) {
  .title {
    max-width: 250px;
    height: 52px;
    margin: 0 auto 42px;
  }

  .list {
    padding-top: 0;
  }

  .text {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  /* .section {
    top: 5349px;
  } */

  .innerSection {
    padding: 100px 0;
  }

  .innerContainer {
    max-width: 768px;
    padding: 0 39px;
  }

  .title {
    margin: 0 auto 41px 0;
  }

  .form {
    justify-content: initial;
  }

  .input {
    flex-basis: 330px;
  }

  .innerSection:nth-child(2) .innerContainer {
    display: flex;
    gap: 30px;
  }

  .content,
  .aside {
    flex-basis: 330px;
  }

  .aside {
    padding-top: 98px;
  }

  .list {
    padding-top: 2px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    /* top: 4822px; */
    display: flex;
  }

  .innerSection {
    flex-basis: calc(50% + 15px);
    padding: 120px 0;
  }

  .innerSection:nth-child(2) {
    flex-basis: calc(50% - 15px);
  }

  .innerContainer {
    max-width: 615px;
    padding: 0 30px 0 15px;
    margin-right: 0;
  }

  .input {
    flex-basis: 270px;
  }

  .innerSection:nth-child(2) .innerContainer {
    max-width: 585px;
    padding: 0 15px 0 30px;
    margin-left: 0;
  }

  .content {
    flex-basis: 270px;
  }
}

@keyframes pulse {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: -135% 0%;
  }
}
