.header {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;

  width: 100%;
}

.logo {
  padding: 10px 0;
  font-weight: 700;
  color: var(--light);
  text-decoration: none;
  text-transform: uppercase;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav {
  display: none;
}

.list {
  display: flex;
  gap: 30px;
}

@media screen and (min-width: 768px) {
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 460px;
  }

  .item:first-child,
  .item:nth-child(4),
  .item:nth-child(5),
  .item:nth-child(6),
  .item:nth-child(7),
  .item:last-child {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .nav {
    flex-basis: 910px;
  }

  .item:first-child,
  .item:nth-child(3),
  .item:nth-child(4),
  .item:nth-child(7) {
    display: initial;
  }
}

.link {
  display: block;
  padding: 52px 0;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--light);
  text-transform: capitalize;
}

.icon {
  width: 28px;
  height: 28px;

  fill: currentColor;
}
