.header {
  position: fixed;
  z-index: 100;

  width: 100%;
}

.bground {
  position: absolute;
  inset: 0;
  background-color: var(--dark);
}

.logo {
  padding: 10px 0;
  font-weight: 700;
  color: var(--light);
  text-decoration: none;
  text-transform: uppercase;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav {
  display: none;
}

.list {
  display: flex;
  gap: 30px;
}

.link {
  display: block;
  padding: 52px 0;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--light);
  text-transform: capitalize;
}

.loaderContainer {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.loader {
  width: 0;
  height: 3px;
  border-radius: 1px;
  background-color: var(--light);
  transform: skewX(-30deg);
}

@media screen and (min-width: 768px) {
  .bground {
    background-color: var(--light);
    border-bottom: 1px solid var(--dark);
  }

  .nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 460px;
  }

  .item:first-child,
  .item:nth-child(4),
  .item:nth-child(5),
  .item:nth-child(7),
  .item:last-child {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .nav {
    flex-basis: 910px;
  }

  .item:first-child,
  .item:nth-child(3),
  .item:nth-child(4),
  .item:nth-child(5) {
    display: initial;
  }
}
