.header {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;

  width: 100%;
}

.logo {
  padding: 10px 0;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo:hover,
.logo:focus {
  color: orange;
}

.image {
  display: block;
  width: 100px;
  height: 100px;
}

.icon {
  width: 28px;
  height: 28px;

  fill: currentColor;
}
