.item {
  margin-bottom: 30px;
}

.thumb {
  overflow: hidden;
  max-width: 418px;
}

.image {
  display: block;
  max-width: 100%;
  height: auto;
}

@media screen and (min-width: 768px) {
  .list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .item {
    margin-bottom: 0;
  }

  .thumb {
    max-width: 330px;
  }
}

@media screen and (min-width: 1200px) {
  .thumb {
    max-width: 270px;
  }
}
