.footer {
  /* position: relative; */
  position: absolute;
  top: 7638px;
  left: 0;
  right: 0;
  opacity: 0.5;
  padding: 44px 0;
}

.back {
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  z-index: -1;
  border-radius: 5px;
  background-color: var(--skeleton-highlight);
}

.container {
  max-width: 480px;
  margin: 0 auto;
  padding: 0 31px;
}

.thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0 133px 0;
}

.logo {
  width: 120px;
  height: 120px;
  /* border: 5px solid var(--skeleton-highlight); */
  border-radius: 50%;
}

.line {
  position: absolute;
  top: 220px;
  left: 10px;
  right: 10px;
  height: 80px;
  border-radius: 10px;
}

.logo,
.line {
  background: linear-gradient(
    -90deg,
    var(--skeleton-light) 0%,
    var(--skeleton-highlight) 50%,
    var(--skeleton-light) 100%
  );
  background-size: 400% 400%;
  animation: pulse 1.2s ease-in-out infinite;
}

@media screen and (min-width: 768px) {
  .footer {
    top: 7218px;
  }

  .container {
    display: flex;
    justify-content: end;
    max-width: 768px;
    padding: 0 39px;
  }

  .thumb {
    padding: 5px 5px 5px 0;
  }

  .line {
    top: 70px;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    top: 6102px;
  }

  .container {
    max-width: 1200px;
    padding: 0 15px;
  }
}

@keyframes pulse {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: -135% 0%;
  }
}
