.subtitle {
  margin-bottom: 20px;
  font-size: 11px;
  font-style: italic;
  line-height: 1.36;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--neutral);
}

@media screen and (min-width: 480px) {
  .subtitle {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .subtitle::before {
    content: "";
    width: 60px;
    height: 3px;
    border-radius: 1px;
    background-color: currentColor;
    transform: skewX(-30deg);
  }
}
