.section {
  padding: 84px 0;
}

.dark {
  color: var(--light);
  background-color: var(--dark);
}

.highlight {
  background-color: var(--highlight);
}

.services {
  text-align: center;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  background-image: url("../../assets/images/services/mobile/services-bg-0480.png");
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .services {
    background-image: url("../../assets/images/services/mobile/services-bg-0960.png");
  }
}

@media (min-device-pixel-ratio: 3),
  (-webkit-min-device-pixel-ratio: 3),
  (min-resolution: 288dpi),
  (min-resolution: 3dppx) {
  .services {
    background-image: url("../../assets/images/services/mobile/services-bg-1440.png");
  }
}

.contacts {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  background-image: url("../../assets/images/contacts/mobile/contacts-bg-0480.png");
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .contacts {
    background-image: url("../../assets/images/contacts/mobile/contacts-bg-0960.png");
  }
}

@media (min-device-pixel-ratio: 3),
  (-webkit-min-device-pixel-ratio: 3),
  (min-resolution: 288dpi),
  (min-resolution: 3dppx) {
  .contacts {
    background-image: url("../../assets/images/contacts/mobile/contacts-bg-1440.png");
  }
}

@media screen and (min-width: 768px) {
  .section {
    padding: 100px 0;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    padding: 120px 0;
  }

  .contactUs {
    display: flex;
  }

  .feedback {
    flex-basis: calc(50% + 15px);
  }
}

.banner {
  padding: 0;
}

.contactUs {
  padding: 0;
}

@media screen and (min-width: 481px) {
  .services {
    background-image: url("../../assets/images/services/tablet/services-bg-0768.png");
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .services {
      background-image: url("../../assets/images/services/tablet/services-bg-1536.png");
    }
  }

  @media (min-device-pixel-ratio: 3),
    (-webkit-min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
    .services {
      background-image: url("../../assets/images/services/tablet/services-bg-2304.png");
    }
  }

  .contacts {
    background-image: url("../../assets/images/contacts/tablet/contacts-bg-0768.png");
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .contacts {
      background-image: url("../../assets/images/contacts/tablet/contacts-bg-1536.png");
    }
  }

  @media (min-device-pixel-ratio: 3),
    (-webkit-min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
    .contacts {
      background-image: url("../../assets/images/contacts/tablet/contacts-bg-2304.png");
    }
  }
}

@media screen and (min-width: 769px) {
  .services {
    background-image: url("../../assets/images/services/laptop/services-bg-1200.png");
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .services {
      background-image: url("../../assets/images/services/laptop/services-bg-2400.png");
    }
  }

  @media (min-device-pixel-ratio: 3),
    (-webkit-min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
    .services {
      background-image: url("../../assets/images/services/laptop/services-bg-3600.png");
    }
  }

  .contacts {
    background-image: url("../../assets/images/contacts/laptop/contacts-bg-1200.png");
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .contacts {
      background-image: url("../../assets/images/contacts/laptop/contacts-bg-2400.png");
    }
  }

  @media (min-device-pixel-ratio: 3),
    (-webkit-min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
    .contacts {
      background-image: url("../../assets/images/contacts/laptop/contacts-bg-3600.png");
    }
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    flex-basis: calc(50% - 15px);
    background-image: url("../../assets/images/contacts/desktop/contacts-bg-0785.png");
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .contacts {
      background-image: url("../../assets/images/contacts/desktop/contacts-bg-1570.png");
    }
  }

  @media (min-device-pixel-ratio: 3),
    (-webkit-min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
    .contacts {
      background-image: url("../../assets/images/contacts/desktop/contacts-bg-2355.png");
    }
  }
}

@media screen and (min-width: 1201px) {
  .services {
    background-image: url("../../assets/images/services/desktop/services-bg-1600.png");
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .services {
      background-image: url("../../assets/images/services/desktop/services-bg-3200.png");
    }
  }

  @media (min-device-pixel-ratio: 3),
    (-webkit-min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
    .services {
      background-image: url("../../assets/images/services/desktop/services-bg-4800.png");
    }
  }

  .contacts {
    flex-basis: calc(50% - 15px);
    background-image: url("../../assets/images/contacts/desktop/contacts-bg-0785.png");
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .contacts {
      background-image: url("../../assets/images/contacts/desktop/contacts-bg-1570.png");
    }
  }

  @media (min-device-pixel-ratio: 3),
    (-webkit-min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
    .contacts {
      background-image: url("../../assets/images/contacts/desktop/contacts-bg-2355.png");
    }
  }
}
