.aside {
  display: none;
}

@media screen and (min-width: 768px) {
  .content {
    flex-basis: 330px;
  }
  .aside {
    display: initial;
  }
}

.list {
  display: flex;
  gap: 30px;
  flex-direction: column;
}

.item {
  overflow: hidden;
  border-radius: 10px;
}

@media screen and (min-width: 1200px) {
  .content {
    flex-basis: 570px;
    padding-right: 100px;
  }

  .list {
    flex-direction: row;
  }
}

.thumb {
  overflow: hidden;
}

.image {
  display: block;
  max-width: 100%;
  height: auto;
}
