.list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  padding-top: 80px;
}

.item {
  width: 100%;
}

.benefit {
  height: auto;
  padding: 20px;
  text-align: center;
  font-weight: 600;
  line-height: 1.357;
  background-color: var(--highlight);
}

.amount {
  position: relative;
  display: inline-block;
  padding-bottom: 6px;
  font-size: 1.2em;
  font-weight: 700;
  letter-spacing: 0.05em;
}

.amount::after {
  content: "+";
  position: absolute;
  top: 0px;
  display: inline-block;
  width: 20px;
  text-align: center;
  font-size: 16px;
  line-height: 1.375;
  font-weight: 600;
  color: #f67307;
}

.feature {
  font-size: 11px;
  line-height: 1.363;
  letter-spacing: 0;
  color: var(--neutral);
  word-break: break-all;
}

.featuresList {
  padding: 20px;
}

.featuresItem {
  display: flex;
  align-items: baseline;
  gap: 4px;
  padding: 10px 0;
  font-size: 14px;
  font-weight: 600;
  font-style: italic;
  line-height: 1.43;
  word-break: break-all;
  color: var(--neutral);
}

.featuresItem::before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  background-color: currentColor;
  transform: skewX(-15deg);
}

.featuresItem:first-child {
  padding-top: 0;
}

.featuresItem:last-child {
  padding-bottom: 0;
}

@media screen and (min-width: 180px) {
  .amount {
    font-size: 42px;
  }

  .amount::after {
    top: 8px;
  }

  .feature {
    word-break: normal;
  }
}

@media screen and (min-width: 220px) {
  .item {
    width: 158px;
  }
}

@media screen and (min-width: 480px) {
  .item {
    width: inherit;
  }

  .benefit {
    width: 194px;
    height: 133px;
    padding: 20px 35px;
  }
}

@media screen and (min-width: 768px) {
  .content {
    max-width: 500px;
  }

  .list {
    align-self: flex-end;
    max-width: 450px;
  }

  .benefit {
    width: 170px;
  }
}

@media screen and (min-width: 1200px) {
  .list {
    align-self: initial;
    max-width: 370px;
    padding-top: 0;
  }

  .benefit {
    width: 170px;
  }
}
