.list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  padding-top: 80px;
}

.item {
  width: 100%;
}

@media screen and (min-width: 220px) {
  .item {
    width: 158px;
  }
}

.benefit {
  height: auto;
  padding: 20px;
  text-align: center;
  font-weight: 600;
  line-height: 1.36;
  background-color: var(--highlight);
}

.amount {
  position: relative;
  display: inline-block;
  padding-bottom: 6px;
  font-size: 1.2em;
  font-weight: 700;
  letter-spacing: 0.05em;
}

.amount::after {
  content: "+";
  position: absolute;
  top: 0px;
  display: inline-block;
  width: 20px;
  text-align: center;
  font-size: 16px;
  line-height: 1.38;
  font-weight: 600;
  color: var(--accent-highlight);
}

@media screen and (min-width: 180px) {
  .amount {
    font-size: 42px;
  }

  .amount::after {
    top: 8px;
  }
}

.feature {
  font-size: 11px;
  color: var(--neutral);
  word-break: break-all;
}

@media screen and (min-width: 480px) {
  .item {
    width: inherit;
  }

  .item:nth-child(odd) {
    transform: translateY(-36px);
  }

  .benefit {
    width: 194px;
    height: 133px;
    padding: 20px 35px;
  }
}
