.list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  padding-top: 80px;
}

.benefit {
  height: auto;
  padding: 20px;
  text-align: center;
  font-weight: 600;
  line-height: 1.36;
  background-color: var(--highlight);
}

@media screen and (min-width: 320px) {
  .item {
    max-width: 158px;
  }
}
