.footer {
  position: relative;
  border-top: 1px solid #6c7072;
  padding: 44px 0;
  background-color: var(--dark);
  background-image: linear-gradient(
      135deg,
      rgba(32, 32, 32, 1) 0%,
      rgba(32, 32, 32, 1) 1%,
      rgba(240, 240, 240, 1) 1%,
      rgba(240, 240, 240, 1) 4%,
      rgba(32, 32, 32, 1) 4%,
      rgba(32, 32, 32, 1) 5%,
      rgba(240, 240, 240, 1) 5%,
      rgba(240, 240, 240, 1) 8%,
      rgba(32, 32, 32, 1) 8%,
      rgba(32, 32, 32, 1) 9%,
      rgba(240, 240, 240, 1) 9%,
      rgba(240, 240, 240, 1) 12%,
      rgba(32, 32, 32, 1) 12%,
      rgba(32, 32, 32, 1) 13%,
      rgba(240, 240, 240, 1) 13%,
      rgba(240, 240, 240, 1) 16%,
      rgba(32, 32, 32, 1) 16%,
      rgba(32, 32, 32, 1) 17%,
      rgba(240, 240, 240, 1) 17%,
      rgba(240, 240, 240, 1) 20%,
      rgba(32, 32, 32, 1) 20%,
      rgba(32, 32, 32, 1) 21%,
      rgba(240, 240, 240, 1) 21%,
      rgba(240, 240, 240, 1) 24%,
      rgba(32, 32, 32, 1) 24%,
      rgba(32, 32, 32, 1) 25%,
      rgba(240, 240, 240, 1) 25%,
      rgba(240, 240, 240, 1) 28%,
      rgba(32, 32, 32, 1) 28%,
      rgba(32, 32, 32, 1) 29%,
      rgba(240, 240, 240, 1) 29%,
      rgba(240, 240, 240, 1) 32%,
      rgba(32, 32, 32, 1) 32%,
      rgba(32, 32, 32, 1) 33%,
      rgba(240, 240, 240, 1) 33%
    ),
    linear-gradient(
      45deg,
      rgba(32, 32, 32, 1) 0%,
      rgba(32, 32, 32, 1) 1%,
      rgba(240, 240, 240, 1) 1%,
      rgba(240, 240, 240, 1) 4%,
      rgba(32, 32, 32, 1) 4%,
      rgba(32, 32, 32, 1) 5%,
      rgba(240, 240, 240, 1) 5%,
      rgba(240, 240, 240, 1) 8%,
      rgba(32, 32, 32, 1) 8%,
      rgba(32, 32, 32, 1) 9%,
      rgba(240, 240, 240, 1) 9%,
      rgba(240, 240, 240, 1) 12%,
      rgba(32, 32, 32, 1) 12%,
      rgba(32, 32, 32, 1) 13%,
      rgba(240, 240, 240, 1) 13%,
      rgba(240, 240, 240, 1) 16%,
      rgba(32, 32, 32, 1) 16%,
      rgba(32, 32, 32, 1) 17%,
      rgba(240, 240, 240, 1) 17%,
      rgba(240, 240, 240, 1) 20%,
      rgba(32, 32, 32, 1) 20%,
      rgba(32, 32, 32, 1) 21%,
      rgba(240, 240, 240, 1) 21%,
      rgba(240, 240, 240, 1) 24%,
      rgba(32, 32, 32, 1) 24%,
      rgba(32, 32, 32, 1) 25%,
      rgba(240, 240, 240, 1) 25%,
      rgba(240, 240, 240, 1) 28%,
      rgba(32, 32, 32, 1) 28%,
      rgba(32, 32, 32, 1) 29%,
      rgba(240, 240, 240, 1) 29%,
      rgba(240, 240, 240, 1) 32%,
      rgba(32, 32, 32, 1) 32%,
      rgba(32, 32, 32, 1) 33%,
      rgba(240, 240, 240, 1) 33%
    );
  background-position: 60% 220px, 60% 260px;
  background-size: 1200px 40px, 1200px 40px;
  background-repeat: no-repeat;
}

.thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 44px;
}

.content {
  padding: 10px 0;
}

.copyright {
  margin-bottom: 10px;
  font-size: 11px;
  font-weight: 600;
  line-height: 1.363;
  letter-spacing: 0.2em;
  color: var(--dark);
}

.copyrightSpan {
  display: inline-block;
}

.copyrightSpan::before {
  content: "©";
  padding-right: 6px;
}

.date {
  font-size: 11px;
  font-weight: 600;
  line-height: 1.363;
  letter-spacing: 0.2em;
  color: var(--dark);
}

@media screen and (min-width: 768px) {
  .footer {
    background-position: 60% 69px, 60% 109px;
    background-image: linear-gradient(
        135deg,
        rgba(240, 240, 240, 1) 24%,
        rgba(32, 32, 32, 1) 24%,
        rgba(32, 32, 32, 1) 25%,
        rgba(240, 240, 240, 1) 25%,
        rgba(240, 240, 240, 1) 28%,
        rgba(32, 32, 32, 1) 28%,
        rgba(32, 32, 32, 1) 29%,
        rgba(240, 240, 240, 1) 29%,
        rgba(240, 240, 240, 1) 32%,
        rgba(32, 32, 32, 1) 32%,
        rgba(32, 32, 32, 1) 33%,
        rgba(240, 240, 240, 1) 33%
      ),
      linear-gradient(
        45deg,
        rgba(240, 240, 240, 1) 24%,
        rgba(32, 32, 32, 1) 24%,
        rgba(32, 32, 32, 1) 25%,
        rgba(240, 240, 240, 1) 25%,
        rgba(240, 240, 240, 1) 28%,
        rgba(32, 32, 32, 1) 28%,
        rgba(32, 32, 32, 1) 29%,
        rgba(240, 240, 240, 1) 29%,
        rgba(240, 240, 240, 1) 32%,
        rgba(32, 32, 32, 1) 32%,
        rgba(32, 32, 32, 1) 33%,
        rgba(240, 240, 240, 1) 33%
      );
  }

  .content {
    flex-basis: 491px;
    padding: 30px 0 30px 140px;
  }

  .thumb {
    padding-bottom: 0;
  }
}

@media screen and (min-width: 948px) {
  .footer {
    background-image: linear-gradient(
        135deg,
        rgba(240, 240, 240, 1) 20%,
        rgba(32, 32, 32, 1) 20%,
        rgba(32, 32, 32, 1) 21%,
        rgba(240, 240, 240, 1) 21%,
        rgba(240, 240, 240, 1) 24%,
        rgba(32, 32, 32, 1) 24%,
        rgba(32, 32, 32, 1) 25%,
        rgba(240, 240, 240, 1) 25%,
        rgba(240, 240, 240, 1) 28%,
        rgba(32, 32, 32, 1) 28%,
        rgba(32, 32, 32, 1) 29%,
        rgba(240, 240, 240, 1) 29%
      ),
      linear-gradient(
        45deg,
        rgba(240, 240, 240, 1) 20%,
        rgba(32, 32, 32, 1) 20%,
        rgba(32, 32, 32, 1) 21%,
        rgba(240, 240, 240, 1) 21%,
        rgba(240, 240, 240, 1) 24%,
        rgba(32, 32, 32, 1) 24%,
        rgba(32, 32, 32, 1) 25%,
        rgba(240, 240, 240, 1) 25%,
        rgba(240, 240, 240, 1) 28%,
        rgba(32, 32, 32, 1) 28%,
        rgba(32, 32, 32, 1) 29%,
        rgba(240, 240, 240, 1) 29%
      );
  }
}

@media screen and (min-width: 1080px) {
  .footer {
    background-position: 90% 69px, 90% 109px;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    background-image: linear-gradient(
        135deg,
        rgba(240, 240, 240, 1) 12%,
        rgba(32, 32, 32, 1) 12%,
        rgba(32, 32, 32, 1) 13%,
        rgba(240, 240, 240, 1) 13%,
        rgba(240, 240, 240, 1) 16%,
        rgba(32, 32, 32, 1) 16%,
        rgba(32, 32, 32, 1) 17%,
        rgba(240, 240, 240, 1) 17%,
        rgba(240, 240, 240, 1) 20%,
        rgba(32, 32, 32, 1) 20%,
        rgba(32, 32, 32, 1) 21%,
        rgba(240, 240, 240, 1) 21%
      ),
      linear-gradient(
        45deg,
        rgba(240, 240, 240, 1) 12%,
        rgba(32, 32, 32, 1) 12%,
        rgba(32, 32, 32, 1) 13%,
        rgba(240, 240, 240, 1) 13%,
        rgba(240, 240, 240, 1) 16%,
        rgba(32, 32, 32, 1) 16%,
        rgba(32, 32, 32, 1) 17%,
        rgba(240, 240, 240, 1) 17%,
        rgba(240, 240, 240, 1) 20%,
        rgba(32, 32, 32, 1) 20%,
        rgba(32, 32, 32, 1) 21%,
        rgba(240, 240, 240, 1) 21%
      );
    background-size: 100% 40px, 100% 40px;
  }

  .content {
    flex-basis: 1000px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0 280px;
  }

  .copyright {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1600px) {
  .footer {
    background-image: linear-gradient(
        135deg,
        rgba(240, 240, 240, 1) 16%,
        rgba(32, 32, 32, 1) 16%,
        rgba(32, 32, 32, 1) 17%,
        rgba(240, 240, 240, 1) 17%,
        rgba(240, 240, 240, 1) 20%,
        rgba(32, 32, 32, 1) 20%,
        rgba(32, 32, 32, 1) 21%,
        rgba(240, 240, 240, 1) 21%,
        rgba(240, 240, 240, 1) 24%,
        rgba(32, 32, 32, 1) 24%,
        rgba(32, 32, 32, 1) 25%,
        rgba(240, 240, 240, 1) 25%
      ),
      linear-gradient(
        45deg,
        rgba(240, 240, 240, 1) 16%,
        rgba(32, 32, 32, 1) 16%,
        rgba(32, 32, 32, 1) 17%,
        rgba(240, 240, 240, 1) 17%,
        rgba(240, 240, 240, 1) 20%,
        rgba(32, 32, 32, 1) 20%,
        rgba(32, 32, 32, 1) 21%,
        rgba(240, 240, 240, 1) 21%,
        rgba(240, 240, 240, 1) 24%,
        rgba(32, 32, 32, 1) 24%,
        rgba(32, 32, 32, 1) 25%,
        rgba(240, 240, 240, 1) 25%
      );
  }
}

.list {
  display: flex;
  column-gap: 40px;
  row-gap: 10px;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.item {
  font-size: 11px;
  line-height: normal;
  font-weight: 600;
  letter-spacing: 0.2em;
  color: var(--neutral);
}

.link {
  display: inline-block;
  text-decoration: none;
  color: var(--neutral);
}

.itemDecor {
  display: flex;
  gap: 40px;
  align-items: center;
}

@media screen and (min-width: 480px) {
  .itemDecor {
    padding-left: 100px;
  }

  .itemDecor:first-child {
    padding-left: 0;
  }

  .itemDecor:first-child:before {
    content: "";
    display: inline-block;
    width: 60px;
    height: 3px;
    border-radius: 1px;
    background-color: currentColor;
    transform: skewX(-30deg);
  }
}

@media screen and (min-width: 1200px) {
  .list {
    margin-bottom: 0;
  }
}
