.footer {
  border-top: 1px solid #6c7072;
  padding: 44px 0;
}

.copyright {
  margin-bottom: 20px;
  font-size: 11px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 2.2px;
  color: #808080;
}

.copyright::before {
  content: "©";
  padding-right: 6px;
}

.date {
  font-size: 16px;
  color: #6c7072;
}
