.footer {
  position: relative;
  border-top: 1px solid #6c7072;
  padding: 44px 0;
  background-color: var(--dark);
  background-image: linear-gradient(
      135deg,
      rgba(32, 32, 32, 1) 0%,
      rgba(32, 32, 32, 1) 1%,
      rgba(240, 240, 240, 1) 1%,
      rgba(240, 240, 240, 1) 4%,
      rgba(32, 32, 32, 1) 4%,
      rgba(32, 32, 32, 1) 5%,
      rgba(240, 240, 240, 1) 5%,
      rgba(240, 240, 240, 1) 8%,
      rgba(32, 32, 32, 1) 8%,
      rgba(32, 32, 32, 1) 9%,
      rgba(240, 240, 240, 1) 9%,
      rgba(240, 240, 240, 1) 12%,
      rgba(32, 32, 32, 1) 12%,
      rgba(32, 32, 32, 1) 13%,
      rgba(240, 240, 240, 1) 13%,
      rgba(240, 240, 240, 1) 16%,
      rgba(32, 32, 32, 1) 16%,
      rgba(32, 32, 32, 1) 17%,
      rgba(240, 240, 240, 1) 17%,
      rgba(240, 240, 240, 1) 20%,
      rgba(32, 32, 32, 1) 20%,
      rgba(32, 32, 32, 1) 21%,
      rgba(240, 240, 240, 1) 21%,
      rgba(240, 240, 240, 1) 24%,
      rgba(32, 32, 32, 1) 24%,
      rgba(32, 32, 32, 1) 25%,
      rgba(240, 240, 240, 1) 25%,
      rgba(240, 240, 240, 1) 28%,
      rgba(32, 32, 32, 1) 28%,
      rgba(32, 32, 32, 1) 29%,
      rgba(240, 240, 240, 1) 29%,
      rgba(240, 240, 240, 1) 32%,
      rgba(32, 32, 32, 1) 32%,
      rgba(32, 32, 32, 1) 33%,
      rgba(240, 240, 240, 1) 33%
    ),
    linear-gradient(
      45deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(32, 32, 32, 1) 1%,
      rgba(240, 240, 240, 1) 1%,
      rgba(240, 240, 240, 1) 4%,
      rgba(32, 32, 32, 1) 4%,
      rgba(32, 32, 32, 1) 5%,
      rgba(240, 240, 240, 1) 5%,
      rgba(240, 240, 240, 1) 8%,
      rgba(32, 32, 32, 1) 8%,
      rgba(32, 32, 32, 1) 9%,
      rgba(240, 240, 240, 1) 9%,
      rgba(240, 240, 240, 1) 12%,
      rgba(32, 32, 32, 1) 12%,
      rgba(32, 32, 32, 1) 13%,
      rgba(240, 240, 240, 1) 13%,
      rgba(240, 240, 240, 1) 16%,
      rgba(32, 32, 32, 1) 16%,
      rgba(32, 32, 32, 1) 17%,
      rgba(240, 240, 240, 1) 17%,
      rgba(240, 240, 240, 1) 20%,
      rgba(32, 32, 32, 1) 20%,
      rgba(32, 32, 32, 1) 21%,
      rgba(240, 240, 240, 1) 21%,
      rgba(240, 240, 240, 1) 24%,
      rgba(32, 32, 32, 1) 24%,
      rgba(32, 32, 32, 1) 25%,
      rgba(240, 240, 240, 1) 25%,
      rgba(240, 240, 240, 1) 28%,
      rgba(32, 32, 32, 1) 28%,
      rgba(32, 32, 32, 1) 29%,
      rgba(240, 240, 240, 1) 29%,
      rgba(240, 240, 240, 1) 32%,
      rgba(32, 32, 32, 1) 32%,
      rgba(32, 32, 32, 1) 33%,
      rgba(240, 240, 240, 1) 33%
    );
  background-position: 60% 220px, 60% 260px;
  background-size: 1200px 40px, 1200px 40px;
  background-repeat: no-repeat;
}

.thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 44px;
}

.content {
  padding: 10px 0;
}

.copyright {
  margin-bottom: 10px;
  font-size: 11px;
  font-weight: 600;
  line-height: 1.363;
  letter-spacing: 0.2em;
  color: var(--dark);
}

.copyright::before {
  content: "©";
  padding-right: 6px;
}

.date {
  font-size: 11px;
  font-weight: 600;
  line-height: 1.363;
  letter-spacing: 0.2em;
  color: var(--dark);
}

@media screen and (min-width: 768px) {
  .footer {
    background-position: 60% 69px, 60% 109px;
  }

  .content {
    flex-basis: 491px;
    padding: 30px 0 30px 140px;
  }

  .thumb {
    padding-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .content {
    flex-basis: 940px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }

  .copyright {
    margin-bottom: 0;
  }
}
