.section {
  position: absolute;
  top: 3689px;
  left: 0;
  right: 0;
  opacity: 0.5;
  padding: 84px 0;
  /* background-color: rgba(115, 116, 117, 0.8); */
}

.innerSection {
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 5px;
  background-color: rgba(115, 116, 117, 0.8);
}

.container {
  max-width: 480px;
  margin: 0 auto;
  padding: 0 31px;
}

.subtitle {
  max-width: 330px;
  height: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
  background-color: rgba(240, 240, 240, 0.8);
}

.list {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 440px;
  overflow: hidden;
}

.item {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  transform: translateX(-50%) translateY(-50%);
  min-width: 270px;
  height: 360px;
  border-radius: 12px;
  background-color: rgba(240, 240, 240, 0.8);
}

.item:nth-child(1),
.item:nth-child(3) {
  z-index: 2;
  transform: scale(0.8) translateX(-112%) translateY(-62%);
}

.item:nth-child(3) {
  transform: scale(0.8) translateX(-13%) translateY(-62%);
}

.controls {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  height: 86px;
  overflow: hidden;
}

.button {
  min-width: 100px;
  max-width: 60px;
  height: 46px;
  border-radius: 40px;
  background-color: rgba(240, 240, 240, 0.8);
}

.button:nth-child(1),
.button:nth-child(4) {
  display: none;
}

@media screen and (min-width: 768px) {
  .section {
    top: 3427px;
    padding: 100px 0;
  }

  .container {
    max-width: 768px;
    padding: 0 39px;
  }

  .subtitle {
    max-width: 400px;
  }

  .item {
    min-width: 330px;
  }

  .item:nth-child(1),
  .item:nth-child(3) {
    z-index: 2;
    transform: scale(0.8) translateX(-124%) translateY(-62%);
  }

  .item:nth-child(3) {
    transform: scale(0.8) translateX(0) translateY(-62%);
  }

  .button:nth-child(1),
  .button:nth-child(4) {
    display: initial;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    padding: 120px 0;
  }

  .container {
    max-width: 1200px;
    padding: 0 15px;
  }

  .item {
    min-width: 270px;
  }
}
