.section {
  position: absolute;
  top: 2092px;
  left: 0;
  right: 0;
  opacity: 0.5;
  padding: 84px 0;
  background-color: rgba(20, 20, 20, 0.8);
}

.container {
  max-width: 480px;
  margin: 0 auto;
  padding: 0 31px;
}

.subtitle {
  max-width: 330px;
  height: 15px;
  border-radius: 10px;
  margin-bottom: 71px;
  background-color: rgba(229, 231, 235, 0.8);
}

.outerList {
  width: 100%;
  overflow: hidden;
}

.innerList {
  display: flex;
  gap: 30px;
  height: 424px;
  padding: 2rem 0 2rem 1rem;
}

.item {
  min-width: 418px;
  height: 360px;
  border-radius: 10px;
  background-color: rgba(229, 231, 235, 0.8);
}

@media screen and (min-width: 768px) {
  .section {
    padding: 100px 0;
  }

  .container {
    max-width: 768px;
    padding: 0 39px;
  }

  .subtitle {
    max-width: 400px;
  }

  .item {
    min-width: 330px;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    padding: 120px 0;
  }

  .container {
    max-width: 1200px;
    padding: 0 15px;
  }

  .item {
    min-width: 270px;
  }
}
