/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Gelasio:wght@700&&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100..700&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@0,400..700;1,400..700&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Gelasio:wght@700&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap"); */

/* @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Raleway:wght@700&display=swap"); */

:root {
  --light: #f0f0f0;
  --screen: #ffffff;
  --dark: #171717;
  --highlight: #dfdfdf;
  --neutral: #808080;
  --accent: #f67307;
  --accent-light: #ebd3f8;
  --cinema-line: #b5b3b2;
  --skeleton-light: rgba(240, 240, 240, 0.8);
  --skeleton-highlight: rgba(115, 116, 117, 0.8);
}

html {
  scroll-behavior: smooth;
}

body {
  /* font-family: "Open Sans", "sans-serif"; */
  font-family: "Montserrat", system-ui;
  letter-spacing: 0.02em;
  background-color: var(--light);
  color: var(--dark);
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p,
figure {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  padding-left: 0;
  list-style: none;
}

button,
label {
  cursor: pointer;
}

button {
  -webkit-tap-highlight-color: transparent;
}
