.section {
  position: absolute;
  top: 5632px;
  left: 0;
  right: 0;
  opacity: 0.5;
}

/* .container {
  position: relative;
  z-index: 1;
} */

.innerSection {
  position: relative;
  padding: 84px 0;
}

.innerContainer {
  max-width: 480px;
  margin: 0 auto;
  padding: 0 31px;
}

.back {
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  z-index: -1;
  border-radius: 5px;
  background-color: var(--skeleton-highlight);
}

.title {
  max-width: 250px;
  height: 46px;
  margin: 0 auto 46px;
  border-radius: 10px;
  background-color: var(--skeleton-light);
}

.form {
  display: flex;
  row-gap: 44px;
  column-gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.input,
.textArea {
  flex-basis: 100%;
  border-radius: 10px;
  background-color: var(--skeleton-light);
}

.input {
  height: 31px;
}

.textArea {
  height: 83px;
}

.button {
  flex-basis: 90%;
  max-width: 160px;
  height: 40px;
  border-radius: 40px;
  background-color: var(--skeleton-light);
}

.item {
  height: 34px;
  margin-bottom: 18px;
  border-radius: 10px;
  background-color: var(--skeleton-light);
}

.item:nth-child(even) {
  margin-bottom: 36px;
}

.item:last-child {
  margin-bottom: 41px;
}

.subTitle {
  max-width: 190px;
  height: 18px;
  margin-bottom: 20px;
  border-radius: 20px;
  background-color: var(--skeleton-light);
}

.text {
  max-width: 340px;
  height: 28px;
  border-radius: 20px;
  background-color: var(--skeleton-light);
}

@media screen and (min-width: 768px) {
  .section {
    top: 5349px;
  }

  .innerSection {
    padding: 100px 0;
  }

  .innerContainer {
    max-width: 768px;
    padding: 0 39px;
  }

  .title {
    margin: 0 auto 46px 0;
  }

  .form {
    justify-content: initial;
  }

  .input {
    flex-basis: 330px;
  }
}
